<!doctype html> 
<html>
<head>
<title>Aadya Krantiveer Raje Umaji Naik Learning Hub</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="./script/app.js"></script>

</head>
<body ng-app="ramoshiIT" ng-controller="myCtrl" ng-init="initTmp()">

<ul>
	<li ng-repeat="ct in container.docs.categories">
		<span>{{ct}}</span><br>
		<ul>
			<li ng-repeat="fn in container.docs.fileData[ct]"><img src="./images/file.jpg" style="width:20px;height:20px;">
			<br>
			<a href="./documents/{{ct}}/{{fn}}" style="padding-left: 21px;" target="_blank">{{fn}}</a></li>
		</ul>
	</li>
</ul>
</body>
</html>
